.header{
      background-color: #F2F2F2;
}
.header__wrapper{
      display: flex;
      justify-content: space-between;
      padding: 24px 0;
}
.header__menu{
      width:100%;
      max-height:100vh;

      position: absolute;
      left:0;
      top:0;
      transform: translateY(-100%);
      overflow:hidden;
      
      opacity: 0;
      background-color:rgba(255,255,255, 0.7);
      
      transition: transform 0.5s ease, opacity 0.5s ease;
      
      -webkit-box-shadow: 0px 10px 16px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 10px 16px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 10px 16px 2px rgba(34, 60, 80, 0.2);
      
      
      z-index:100;
      
      border-bottom:2px solid var(--green);
      border-top:2px solid  var(--green);
}
.header__menu::before{
      content:"";
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height:100%;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
      transition: -webkit-backdrop-filter 0.5s ease-in-out 0.5s, backdrop-filter 0.5s ease-in-out 0.5s;
}
.header__menu-active::before{
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
}
.header__menu-active{
      transform: translateY(0px);
      opacity:1;
}
.menu__wrapper{
      position: relative;
      max-height:70vh;
      margin: 70px 0;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow: auto;
}
.menu__item{
      font-size:20px;
      /* color:#fff; */
      text-decoration: none;
}
.menu__item + .menu__item{
      margin-top:20px;
}
.menu__item-big{
      background-color: var(--green);
      border-radius: 5px;
      padding:18px 45px;
      color:#fff;
      box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px #31313106,

                  0px 8.148148536682129px 6.518518447875977px 0px #3131310A,

                  0px 20px 13px 0px #3131310D,

                  0px 38.51852035522461px 25.481481552124023px 0px #3131310F,

                  0px 64.81481170654297px 46.85185241699219px 0px #31313113,

                  0px 100px 80px 0px #3131311A;

}
.header__burger{
      width:25px;
      height:20px;
      z-index: 100;
}
.burger{
      --line-size:10%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.5s ease;
}
.burger-active .burger__line:nth-child(2){
      transform: scale(0);
}
.burger-active .burger__line:first-child{
      transform: translateY(9px) rotateZ(-45deg);
}
.burger-active .burger__line:last-child{
      transform: translateY(-9px) rotateZ(45deg);
}
.burger__line{
      position: relative;
      width:100%;
      height:var(--line-size);
      background-color: #000;
      transition: transform 0.5s ease;
}

.header__logo{
      position: relative;
      font-weight: 700;
      z-index: 10000;
}

@media screen and (min-width:767px){
      .header__burger{
            display:none;
      }
      .header__menu{
            all:unset;
      }
      .menu__wrapper{
            all:unset;
      }
      .menu__item{
            font-size: 16px;
      }
      .menu__item + .menu__item{
            margin-left:20px;
      }
      .header__menu::before{display: none;}
      .menu__item-big{
            padding:12px 30px;
      }
}



@media screen and (min-width:1200px){
      .header__wrapper{
            padding:48px 0;
      }
      .menu__item{
            font-size: 18px;
      }
      .menu__item + .menu__item{
            margin-left:50px;
      }
      .menu__item-big{
            padding:18px 45px;
      }

}